@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --light-brown: #fefae0;
    --light-green: #e9f5db;
    --text-color: #001a23;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9f5db;
}

#content {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 10vw;
    color: var(--text-color);
}

/* Header */

#header {
    position: fixed;
    min-height: 6vh;
    width: 100%;
    display: grid;
    gap: 2rem;
    padding: 0 2rem;
    grid-column: span 4;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: var(--light-green);
    z-index: 1;
    box-shadow: 0px -1px 10px #606c38;
}

#header img {
    height: 4vh;
}

#header .tab {
    cursor: pointer;
}

/* Home page */

